langchain
langgraph
langchain-core
langchain-community
langchain-groq
fastapi
uvicorn
python-dotenv
pydantic
numpy
pandas
scikit-learn
streamlit
openai-whisper
gtts
scipy
sounddevice
requests
transformers
torch
torchvision
ffmpeg-python
